* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", "Times New Roman", Times, serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5vh 5vh;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big {
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  justify-content: space-between;
  z-index: 8;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-items {
  position: relative;
  cursor: pointer;
  padding: 2vh;
  color: white;
  font-size: 1em;
  margin: 0;
  font-family: "Lato";
}

#donate {
  border: solid white 0.2em;
  padding: 0;
  margin-left: 2vh;
  padding: 0.2em;
}

button {
  border: 2px solid white;
  background: transparent;
  color: white;
}

.wrap {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.wrap video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.overlay-text {
  display: flex;
  flex-direction: column;
  padding: 5vh;
  z-index: 2;
  color: white;
  align-items: center;
  width: 100%;
}

.overlay-text h2 {
  font-size: 3.75em;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
}

.overlay-text h3 {
  text-align: center;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 2em;
  line-height: 1em;
  border: white 0.2em solid;
}

.overlay-text p {
  font-size: 1.2em;
  max-width: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  mix-blend-mode: overlay;
}

.brand {
  color: white;
  font-size: 4vh;
}

.contact-div {
  padding-top: 2.5vh;
  display: inline-block;
}

#contact {
  font-family: "Lato";
  padding: 0.2em;
}

.info {
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.overview-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10vh;
  padding-bottom: 10vh;
  flex-wrap: wrap;
  background-color: white;
}

.overview-column {
  width: 50%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overview-column h1 {
  font-size: 6vh;
  align-content: center;
  color: #0d395f;
}

.overview-column p {
  font-family: "Lato";
  line-height: 1.5em;
}

.overview-header {
  width: fit-content;
  padding-bottom: 2vh;
}

.overview-text {
  padding-left: 10vw;
  padding-right: 10vw;
}

.overview-image {
  padding-left: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overview-image img {
  width: 100%;
  height: auto;
}

.loc-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  z-index: 2;
}

.loc-container img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.loc-text {
  padding-left: 10vw;
  z-index: 3;
}

.loc-card-head {
  z-index: 5;
  top: 5vh;
  font-size: 1em;
  width: 20vw;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #0d395f;
  display: flex;
}

.loc-header {
  width: fit-content;
  padding: 2vw;
  color: white;
  text-align: center;
}

.loc-card-text {
  z-index: 5;
  top: 5vh;
  width: 20vw;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  border-bottom: 1.2vh #0d395f solid;
}

.loc-card-text p {
  font-family: "Lato";
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  line-height: 1.5em;
}

hr.blue {
  border-top: 2px solid #0d395f;
}

hr.white {
  border-top: 2px solid white;
}

.seasons-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  z-index: 2;
}

.seasons-container img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.directions {
  font-family: "Lato";
  font-weight: 900;
  color: #0d395f;
  border: #0d395f solid 0.2em;
}

.involved-container {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: white;
}

.involved-main-header {
  width: fit-content;
  padding-bottom: 6vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.involved-column {
  width: 33.3%;
  padding-right: 5vw;
}

.involved-main-header h1 {
  font-size: 6vh;
  align-content: center;
  color: #0d395f;
}

.involved-ways-to-connect {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 10vw;
  padding-right: 5vw;
}

.involved-text img {
  width: 100%;
  height: 30vh;
}

.involved-text {
  line-height: 1.5em;
  font-family: "Lato";
  background-color: white;
  border-bottom: 1.2vh #0d395f solid;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  height: 80vh;
}

.involved-text p {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.involved-text h2 {
  width: 100%;
  padding: 2vw;
  color: white;
  text-align: center;
  background-color: #0d395f;
  border-bottom: white solid 2vh;
}

.credits {
  display: flex;
  justify-content: flex-start;
  background-color: #0d395f;
  padding: 4vh;
  color: white;
}

@media (max-width: 1100px) {
  .overview-container {
    flex-direction: column;
    padding-bottom: 5vh;
  }
  .overview-column {
    width: 100%;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .overview-text {
    padding-left: 0vw;
    padding-right: 0vw;
  }
  .overview-image {
    padding: 0;
  }
  .overlay-text {
    font-size: 2vh;
  }
  .loc-container {
    display: flex;
    align-items: flex-start;
  }
  .loc-text {
    width: 100vw;
    padding: 0;
  }
  .loc-card-head {
    width: 100vw;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
  }
  .loc-card-text {
    width: 100%;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
  }
  .involved-ways-to-connect {
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
  }
  .involved-text img {
    height: auto;
  }
  .involved-text {
    height: auto;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
  }
  .involved-column {
    width: 100%;
    padding-bottom: 4vh;
    padding-right: 0;
  }
}

@media (max-width: 500px) {
  header {
    float: none;
    display: block;
    text-align: left;
  }
}

.roster-header {
  display: flex;
  align-items: center;
  min-height: 15vh;
  background-color: navy;
}

.roster-wrap {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.roster-title {
  width: fit-content;
  padding-bottom: 2vh;
}

.roster-title h1 {
  color: #0d395f;
  width: fit-content;
  margin: 0;
  font-size: 6vh;
  align-content: center;
  color: #0d395f;
}

.roster-item-overview {
  display: flex;
  flex-direction: column;
}

.roster-item-overview h3 {
  font-family: "Lato";
  font-weight: bolder;
  color: rgb(95, 95, 95);
}

.roster-item-overview p {
  font-family: "Lato";
  color: black;
}
